body{
  font:20px/1.1em arial, sans-serif;
  background:lightgray;
  display: flex;
  transition: background-color 1s ease ;
  overflow-x: hidden;
}
main{
  width: 100%;
}
.influencers{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:40vh 0 50vh 0;
}
.influencer{
  margin:30vh 0;
}
.influencer:first-child{
  left:30vw;
}
.center-point{
  width:5px;
  height: 5px;
  background: red;
  position: fixed;
}
.subject{
  width: 120px;
  height:120px;
  border:2px solid gray;
  background: white;
  border-radius: 100px;
  border-width:0;
  transition: all 1s ease;
}
.subject:hover{
  /* background: #ccc; */
}
.object{
  width:10vw;
  height:10vh;
  border:1px solid black;
  position: relative;
}
.influ{
  position: relative;
}
.drag-icon{
  display: none;
  position: absolute;
  left:38%;
  top:40%;
}
.draggable{
  z-index: 3;
  position: fixed;
  cursor: grab;
  opacity: 0;
}
body.auto-play .draggable{
  transition: 10s all ease-in-out;
}
body.helper .drag-icon{
  display: block;
  height:50px;
  width:auto;
  opacity: 0;
  animation: icon 8s linear .5s infinite;
}
body.helper .draggable{
  position: fixed;
  animation: movedemo 8s ease-in-out .5s infinite;
}
@keyframes movedemo {
  5%   {margin-left: 0px; margin-top:0;}
  20%  {margin-left: -20px;}
  40%  {margin-left: 20px; margin-top:20px;}
  65%  {margin-left: 0px; margin-top:0;}
}
@keyframes icon {
  0%   {opacity: 0;}
  5%   {opacity: 1;}
  65%  {opacity: 1;}
  70%  {opacity: 0;}
}
